# 장애인 콜택시 운영 데이터 불러오기

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()

import json
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm

In [ ]:
my_api_key = 1 #여기에 api 키를 입력

In [ ]:
url = 'http://openapi.seoul.go.kr:8088/'+ my_api_key + '/xml/disabledCalltaxi/1/200/20190102'
req = requests.get(url)
html = req.text
soup = BeautifulSoup(html, 'html.parser')

본 프로젝트는 2020.09에 시행되었던 프로젝트입니다.  
기타 데이터와의 호환을 위해서 호출 데이터의 기간은 2019.01.01 ~ 2019.12.31로 설정했습니다.  
아래는 url에서 불러오는 날짜들에 대한 함수입니다.

In [ ]:
total_date = []
for i in range(12) : 
    
    if (i+1) in (1,3,5,7,8,10,12) : 
        if (i+1)/10 < 1 : 
            month = str(0) + str(i+1)
        else : 
            month = str(i+1)
            
        for s in range(31) :
            if (s+1)/10 < 1 :
                day = str(0) + str(s+1)
            else : 
                day = str(s+1)
                
            date = '2019' + month + day
            total_date.append(date)
            
    elif (i+1) == 2 : 
        for s in range(28) : 
            if (s+1)/10 < 1 : 
                day = str(0) + str(s+1)
            else : 
                day = str(s+1)
            date = '2019' + '02' + day
            total_date.append(date)
            
    elif (i+1) in (4,6,9,11) :
        
        if (i+1)/10 < 1 : 
            month = str(0) + str(i+1)
        else : 
            month = str(i+1)
            
        for s in range(30) :
            if (s+1)/10 < 1 :
                day = str(0) + str(s+1)
            else : 
                day = str(s+1)
                
            date = '2019' + month + day
            total_date.append(date)
            
len(total_date)
print(total_date[:10])

total_date라는 인자에 모든 날짜들이 호출되었습니다.  
url 호출 제한때문에, 전체 날짜 list를 두개로 나누어 두 차례에 걸처 호출을 진행했습니다.

In [ ]:
the_first = total_date[:252]
the_second = total_date[252:]

첫번째로 쪼갠 날짜에서 url로 데이터들을 호출합니다.  
호출된 데이터는 dataframe의 형태로 first라는 인자에 저장됩니다.

In [ ]:
car_no = []
cartype = []
receipttime = []
settime = []
ridetime = []
startpos1 = []
startpos2 = []
endpos1 = []
endpos2 = []
total_date_ = []

for naljja in tqdm(the_first) : 
    url = 'http://openapi.seoul.go.kr:8088/'+ my_api_key + '/xml/disabledCalltaxi/1/400/' + naljja
    req = requests.get(url)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')

    for rows in soup.find_all('no') : 
        car_no.append(rows.text)
        total_date_.append(naljja)

    for rows in soup.find_all('cartype') : 
        cartype.append(rows.text)

    for rows in soup.find_all('receipttime') : 
        receipttime.append(rows.text)

    for rows in soup.find_all('settime') : 
        settime.append(rows.text)

    for rows in soup.find_all('ridetime') : 
        ridetime.append(rows.text)

    for rows in soup.find_all('startpos1') : 
        startpos1.append(rows.text)

    for rows in soup.find_all('startpos2') : 
        startpos2.append(rows.text)

    for rows in soup.find_all('endpos1') : 
        endpos1.append(rows.text)

    for rows in soup.find_all('endpos2') : 
        endpos2.append(rows.text)

    if len(car_no) == len(cartype) == len(receipttime) == len(settime) == len(ridetime) == len(startpos1) == len(startpos2) == len(endpos1) == len(endpos2) : 
        None

    else : 
        print(naljja)

        break
        
data = {'total_date' : total_date_,
        'car_number' : car_no, 
       'car_type' : cartype, 
       'receipttime' : receipttime, 
       'settime' : settime, 
       'ridetime' : ridetime, 
       'startpos1' : startpos1, 
       'startpos2' : startpos2, 
       'endpos1' : endpos1, 
       'endpos2' : endpos2}

first= pd.DataFrame(data = data)

두번째로 쪼갠 날짜에서 url로 데이터들을 호출합니다.  
호출된 데이터는 dataframe의 형태로 second라는 인자에 저장됩니다.

In [ ]:
car_no = []
cartype = []
receipttime = []
settime = []
ridetime = []
startpos1 = []
startpos2 = []
endpos1 = []
endpos2 = []
total_date_ = []

for naljja in tqdm(the_second) : 
    url = 'http://openapi.seoul.go.kr:8088/'+ my_api_key + '/xml/disabledCalltaxi' + naljja
    req = requests.get(url)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')

    for rows in soup.find_all('no') : 
        car_no.append(rows.text)
        total_date_.append(naljja)

    for rows in soup.find_all('cartype') : 
        cartype.append(rows.text)

    for rows in soup.find_all('receipttime') : 
        receipttime.append(rows.text)

    for rows in soup.find_all('settime') : 
        settime.append(rows.text)

    for rows in soup.find_all('ridetime') : 
        ridetime.append(rows.text)

    for rows in soup.find_all('startpos1') : 
        startpos1.append(rows.text)

    for rows in soup.find_all('startpos2') : 
        startpos2.append(rows.text)

    for rows in soup.find_all('endpos1') : 
        endpos1.append(rows.text)

    for rows in soup.find_all('endpos2') : 
        endpos2.append(rows.text)

    if len(car_no) == len(cartype) == len(receipttime) == len(settime) == len(ridetime) == len(startpos1) == len(startpos2) == len(endpos1) == len(endpos2) : 
        None

    else : 
        print(naljja)

        break
        
data = {'total_date' : total_date_,
        'car_number' : car_no, 
       'car_type' : cartype, 
       'receipttime' : receipttime, 
       'settime' : settime, 
       'ridetime' : ridetime, 
       'startpos1' : startpos1, 
       'startpos2' : startpos2, 
       'endpos1' : endpos1, 
       'endpos2' : endpos2}

second= pd.DataFrame(data = data)

호출된 두개의 데이터를 합쳐줍니다.

In [ ]:
total_taxi_data = pd.concat([first, second], axis = 0)

전체 데이터를 csv의 형태로 저장합니다.

In [ ]:
total_taxi_data.to_csv('콜택시_최종_데이터.csv', index = False)

전체 데이터의 shape을 확인해보겠습니다.

In [7]:
entire_data = pd.read_csv('콜택시_최종_데이터.csv')
entire_data.head(3)

,total_date,car_number,car_type,receipttime,settime,ridetime,startpos1,startpos2,endpos1,endpos2
0,20190101,5815,중형승합,2019-01-01 오전 12:02:00,2019-01-01 오전 3:56:24,2019-01-01 오전 4:15:34,종로구,삼청동,성북구,월곡제1동
1,20190101,5815,중형승합,2019-01-01 오전 12:13:00,2019-01-01 오전 3:17:56,2019-01-01 오전 3:36:11,성북구,보문동,강북구,삼각산동
2,20190101,1313,중형승합,2019-01-01 오전 12:15:00,2019-01-01 오전 3:03:30,2019-01-01 오전 3:23:48,강북구,인수동,노원구,하계2동